/* ----------------- */
/* BOOTSTRAP BUTTONS */
/* ----------------- */

/* local overrides */

.btn-primary,
#add_to_cart {
    border-color: #ff6332;
    background-color: #ff6332;
    border-width: 0px;
    font-weight: 400;
    border-radius: 0px;
    box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
    transition: color .2s ease;
    color: white;
}
.btn-default {
    border-color: #ff6332;
    background-color: #ff6332;
    border-width: 0px;
    font-weight: 400;
    border-radius:0px;
    box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
    transition: color .2s ease;
    color: white;
}
.price_donate_suggested_outer .btn-default {
    border-color: #65b32e;
    background-color: #65b32e;
}
.price_donate_suggested_outer .btn-default:active {
    color: #65b32e;    
    background-color: white;
}
.btn-primary:hover,
.btn-primary a:hover,
#add_to_cart:hover,
#add_to_cart a:hover {
    border-color: #69b42e;
    color: #69b42e;
    background-color: #fff;
    border-width: 0px;
    font-weight: 400;
    border-radius: 0px;
    box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
}
.btn-default:hover,
.btn-default a:hover {
    border-color: #69b42e;
    color: #69b42e;
    background-color: white;
    border-width: 0px;
    font-weight: 400;
    border-radius: 0px;
    box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
}
.btn.btn-lg.btn-default.price_donate_suggested:hover {
    color: #69b42e;
}
.price_donate_suggested_outer span.price_donate_suggested_currency {
    color: white !important;
}
.price_donate_suggested_outer:hover span.price_donate_suggested_currency {
    color: #69b42e !important;
}
/* Remove Button BG Gradient */
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    background-image: none;
    /*background-image: -o-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e0e0e0));*/
    /*background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/* Button Shadow */
/*.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {*/
/*    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);*/
/*    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);*/
/*    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);*/
/*}*/

/* Button Glyphicon Positon */
.btn .glyphicon {
    top: 3px;
}

.btn {
    text-shadow: none;
}
