/* ------------------- */
/* SHOP CATEGORY PAGES */
/* ------------------- */

/* Product GRID */
/* ------------ */
/*
#products_grid .oe_product .oe_product_image img {
    height: 300px;

}
#products_grid .wrap_wsd_1 {
height: 390px;
}
*/

#products_grid .oe_product section {
    background: #666666;
    font-size: 20px;
    min-height: 100px;
}
#products_grid .oe_product section h5 {
    font-size: 20px;
}
#products_grid .oe_product section a {
    color: white;
}
/*@media (max-width: 768px) {
    #products_grid .oe_product {
        height: 420px !important;
        width: 320px !important;
    }
}
@media (max-width: 400px) {
#products_grid .oe_product.oe_image_full .oe_product_image {
    bottom: 0px !important;
}
}*/


#products_grid .product_price.text-primary {
    color: white;
}
#products_grid .oe_product .oe_product_image img {
    height: 100%;
    max-height: initial;
    width: auto;
    max-width: initial;
}

/* special design for additional add to cart button within shop grid view */
.oe_product_cart .quick_add_to_cart {
    position: relative;
    bottom: 10px;
}
.oe_product_cart .quick_add_to_cart .a-submit a {
    width: 100%
}
.oe_product_cart .quick_add_to_cart .a-submit.fa-shopping-cart:before {
    padding-right:10px;
}
/* reverse Shop Grid and Cart, move cart under shop grid */
body[data-rootcatid="2"] #wrap > div.container.oe_website_sale > div.row {
    display: flex;
    flex-direction: column-reverse;
}
/* reverse Shop Grid and Cart, move cart under shop grid */
body[data-rootcatid="3"] #wrap > div.container.oe_website_sale > div.row {
    display: flex;
    flex-direction: column-reverse;
}
/* reverse Shop Grid and Cart, move cart under shop grid */
body[data-rootcatid="4"] #wrap > div.container.oe_website_sale > div.row {
    display: flex;
    flex-direction: column-reverse;
}

/* TODO: Shop Grid Size for col md-12 and two products per row
         You may need to remove the original css of website.sale becaues the media queries are different for rnde!
/**!*/
/*body .col-md-12 .oe-height-2 {*/
  /*height: 420px;*/
/*}*/
/*!* bis 400 px *!*/
/*@media (max-width: 400px) {*/
    /*body #products_grid .oe_product section {*/
        /*background: #f8f8f8;*/
    /*}*/
/*}*/
/*!* ab 992px *!*/
/*@media (min-width: 992px) {*/
    /*body .col-md-12 .oe-height-2 {*/
        /*height: 4200px;*/
    /*}*/
/*}*/
/*!* ab 1200px *!*/
/*@media (min-width: 1200px) {*/
    /*body .col-md-12 .oe-height-2 {*/
        /*height: 420px;*/
    /*}*/
/*}*/

/* Special test with on if JS is enabled JS and move Picture into other container */
/*#products_grid .oe_product .oe_product_image img {
    visibility: hidden;
}
.oe_product .oe_product_image {
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/* Special test with on if JS END */
/* special center tests for images in grid shop overview pages */
/*.oe_product .oe_product_image img {
    margin: initial !important;
    top: initial !important;
    left: 50% !important;
    bottom: initial !important;
    right: initial !important;
    transform: translateX(-50%) !important;
}*/
/* fix it for mobile */
/*@media (max-width: 768px) {
    #products_grid .oe_product {
        width: 300px !important;
        left: 50%;
        transform: translateX(-50%);
    }
}*/

/* this calss can be set at shop category to use this design options CSS classes for div#products_grid col-md-12 column-view-3 */
/* allgmeine Kacheln */
#products_grid .oe_product section {
    background: #69b42e !important;
    height: 100px;
}
#products_grid .oe_product_image {
    margin-bottom:100px;
}
/* 3 Kacheln */
#products_grid.column-view-3 .oe_product .oe_product_image img {
    height: 287px !important;
}

@media (max-width: 768px) {
    #products_grid.column-view-3 .oe_product {
    height: 387px !important;
}
}
@media only screen and (max-width: 768px) {
    #products_grid.column-view-3 .oe_product {
    height: 345px !important;
    width: 245px !important;
}
    #products_grid.column-view-3 .oe_product .oe_product_image {
    height: 245px;
    margin-bottom: 100px;
}
}

@media (max-width: 420px) {
    #products_grid.column-view-3 .oe_product {
        height: 387px !important;
    }

    #products_grid.column-view-3 .oe_product {
        height: 387px !important;
        width: 100% !important;
    }

    #products_grid.column-view-3 .oe_product .oe_product_image {
        height: 287px;
    }
}
@media (max-width: 400px) {
    .oe_product.column-view-3 .oe_product_image {
        width: 100% !important;
        left: 50% !important;
        transform: translateX(-50%);
    }
}

#products_grid.column-view-3 .oe_product.oe_grid.oe-height-2.oe_image_full {
    height: 387px;
}

#products_grid.column-view-3 .oe_product_image {
    height: 287px;
}
#products_grid.column-view-3 .oe_product .oe_product_image img {
    min-width: 100%;
    max-width: 100%;
    height: 287px;

}



/* Fixe höhen und Fixe Kachelgrößen 2 Kacheln auf 400px optmiert */

#products_grid.column-view-2 .oe_product.oe_grid.oe-height-2.oe_image_full {
    height: 500px;
    /*width: 400px;*/
}

/*body[data-rootcatid="2"] .oe_product .oe_product_cart {
    height: 500px;
}*/
/*
body[data-rootcatid="2"] .wrap_wsd_1 {
    height: 400px;
    }
*/

#products_grid.column-view-2 .oe_product_image {
    height: 450px;
}
#products_grid.column-view-2 .oe_product .oe_product_image img {
    min-width: 100%;
    max-width: 100%;
    height: 450px;
}

@media (max-width: 768px) {
    #products_grid.column-view-2 .oe_product.oe_grid.oe-height-2.oe_image_full {
    height: 450px !important;
                width: 350px !important;
    /*width: 400px;*/
}

    #products_grid.column-view-2 .oe_product .oe_product_image,
    #products_grid.column-view-2 .oe_product .oe_product_image img {
        height: 350px !important;
    }
}
@media (max-width: 320px) {
#products_grid.column-view-2 .oe_product_image {
    width: 380px !important;
    height: 480px !important;
}
}
/*.oe_product .oe_product_image {
    height: 300px;
}
body .col-md-12 .oe-height-2 {
    height: auto;
}*/
