/* ------------------- */
/* SHOP CATEGORY PAGES */
/* ------------------- */

/* Product GRID */
/* ------------ */
/*
#products_grid .oe_product .oe_product_image img {
    height: 300px;

}
#products_grid .wrap_wsd_1 {
height: 390px;
}
*/

#products_grid .oe_product section {
    background: #666666;
    font-size: 20px;
    min-height: 90px;
}
#products_grid .oe_product section h5 {
    font-size: 20px;
}
#products_grid .oe_product section a {
    color: white;
}
@media (max-width: 768px) {
    #products_grid .oe_product {
        height: 380px !important;
        width: 378px !important;
    }
}
@media (max-width: 400px) {
#products_grid .oe_product.oe_image_full .oe_product_image {
    bottom: 0px !important;
}
}


#products_grid .product_price.text-primary {
    color: white;
}
#products_grid .oe_product .oe_product_image img {
    height: 100%;
    max-height: initial;
    width: auto;
    max-width: initial;
}

/* special design for additional add to cart button within shop grid view */
.oe_product_cart .quick_add_to_cart {
    position: relative;
    bottom: 10px;
}
.oe_product_cart .quick_add_to_cart .a-submit a {
    width: 100%
}
.oe_product_cart .quick_add_to_cart .a-submit.fa-shopping-cart:before {
    padding-right:10px;
}
/* reverse Shop Grid and Cart, move cart under shop grid */
body[data-rootcatid="2"] #wrap > div.container.oe_website_sale > div.row {
    display: flex;
    flex-direction: column-reverse;
}
/* reverse Shop Grid and Cart, move cart under shop grid */
body[data-rootcatid="3"] #wrap > div.container.oe_website_sale > div.row {
    display: flex;
    flex-direction: column-reverse;
}
/* reverse Shop Grid and Cart, move cart under shop grid */
body[data-rootcatid="4"] #wrap > div.container.oe_website_sale > div.row {
    display: flex;
    flex-direction: column-reverse;
}

/* TODO: Shop Grid Size for col md-12 and two products per row
         You may need to remove the original css of website.sale becaues the media queries are different for rnde!
*/
body .col-md-12 .oe-height-2 {
  height: 380px;
}
/* bis 400 px */
@media (max-width: 400px) {
    body #products_grid .oe_product section {
        background: #f8f8f8;
    }
}
/* ab 992px */
@media (min-width: 992px) {
    body .col-md-12 .oe-height-2 {
        height: 380px;
    }
}
/* ab 1200px */
@media (min-width: 1200px) {
    body .col-md-12 .oe-height-2 {
        height: 380px;
    }
}

/* Special test with on if JS is enabled JS and move Picture into other container */
/*#products_grid .oe_product .oe_product_image img {
    visibility: hidden;
}
.oe_product .oe_product_image {
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/* Special test with on if JS END */
/* special center tests for images in grid shop overview pages */
/*.oe_product .oe_product_image img {
    margin: initial !important;
    top: initial !important;
    left: 50% !important;
    bottom: initial !important;
    right: initial !important;
    transform: translateX(-50%) !important;
}*/
/* fix it for mobile */
/*@media (max-width: 768px) {
    #products_grid .oe_product {
        width: 300px !important;
        left: 50%;
        transform: translateX(-50%);
    }
}*/
@media (max-width: 400px) {
    .oe_product .oe_product_image {
        width: 380px !important;
        left: 50% !important;
        transform: translateX(-50%);
    }
}

/*.oe_product .oe_product_image {
    height: 300px;
}
body .col-md-12 .oe-height-2 {
    height: auto;
}*/
